@keyframes rotate {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.ramen-bg {
    position: absolute;
    bottom: 29%;
    left: -40%;
    z-index: 0;
    height: 48%;
    rotate: 35deg;
    animation-name: rotate;
    animation-duration: 2s;
}