@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.h1-under {
    text-align: end;
    line-height: .6em;
    color: var(--clr-1);
    /* z-index: -3; */
    animation-name: fadeIn;
    animation-duration: 2s;
}