:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-1: #f4f4f4d2;
  --clr-2: #646cff;
  --clr-3: #242424;
  --clr-4: #000000a4;
  --clr-5: rgba(127, 127, 127, 0.4);
  --clr-6: rgb(125, 125, 125);
  --rad-1: 16px;
  --rad-2: 12px;

  background-color: var(--clr-3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}