:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-1: #f4f4f4d2;
  --clr-2: #275A53;
  --clr-3: #242424;
  --rad-1: 16px;
  --rad-2: 12px;

  background-color: var(--clr-3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*

  color-scheme: light dark;
  color: var(--clr-1);
  background-color: var(--clr-3);
  background-image: url("https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2022/07/19/fotografia-de-una-receta-de-ramen.jpeg");
  background-size: cover;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */